@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import "_variables.css";

* {
  box-sizing: border-box;
}

html {
  background-color: wheat;
}

body {
  color: var(--black);
  background-color: #f6f6f6;
  padding: 50px 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 770px;
  width: 100%;
  margin: 100px auto;
  box-shadow: 10px 30px 30px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

img {
  top: -50px;
  left: 40%;
  position: absolute;
  transform: scale(0.5);
}
header {
  display: flex;
  flex-direction: column;
}
header > * {
  padding: 15px 0;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid var(--black);
}

.header__title {
  font-size: 100px;
  font-weight: 800;
}

.header__month {
  font-size: 40px;
  font-weight: 600;
}

.header__bottom {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.header__bottom__column {
  display: flex;
}

.header__column__item {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

main {
  height: 720px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: space-between;
  align-content: space-between;
}

.circle {
  width: var(--circle);
  height: var(--circle);
  border-radius: 50%;
  background-color: #bbe1f2;
}

.circle:nth-child(3n + 1) {
  background-color: #626365;
  order: 1;
}

.circle:nth-child(3n + 2) {
  background-color: #04a464;
  order: 2;
}
