.father {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: 100px repeat(2, 200px) 100px;
  grid-template-areas:
    "header header header header"
    "content content content nav"
    "content content content nav"
    "footer footer footer footer";
}
.father div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 45px;
}

.header {
  background-color: green;
  grid-area: header;
}

.content {
  background-color: yellowgreen;
  grid-area: content;
}

.nav {
  background-color: orange;
  grid-area: nav;
}

.footer {
  background-color: violet;
  grid-area: footer;
}
