.father {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
}
.father div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 45px;
}

.header {
  background-color: green;
  grid-column: 1/5;
  /* grid-column-start: 1;
  grid-column-end: 5; */
}

.content {
  background-color: yellowgreen;
  grid-column: 1/-2;
  /* grid-column-start: 1;
  grid-column-end: 4; */
  grid-row: 2/-2;
  /* grid-row-start: 2;
  grid-row-end: 4; */
}

.nav {
  background-color: orange;
  grid-row: 2/-2;
  /* grid-row-start: 2;
  grid-row-end: 4; */
}

.footer {
  background-color: violet;

  grid-column: span 4;

  /* grid-column: 1/-1; */

  /* grid-column-start: 1;
  grid-column-end: 5; */
}
