@import "reset";
@import "_variables";

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
}

header {
  font-size: 30px;
  height: 50px;
  display: grid;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  grid-template-columns: 9fr 4fr;
  grid-template-rows: 1fr;

  .header__left {
    display: grid;
    grid-template-columns: 1fr 8fr;
    .wrapper {
      color: $grey;
      span {
        margin-right: 50px;
      }
      &:hover {
        color: white;
      }
    }
    h1:hover {
      color: white;
    }

    &:hover {
      background-color: $grey;
    }
  }
  .header__right {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &:hover {
      color: white;
      background-color: $grey;
    }
  }
  & > div {
    background-color: white;
    padding: 15px;
    .header__lan {
      font-size: 20px;
    }
  }
  &:hover {
    cursor: pointer;
  }
}

main {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 33.33vw);
  width: 100%;
  .post__item {
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
    }
    span {
      padding: 5px;
    }
  }
}
